<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<h1>History</h1>

<div class="content" th:each="number : ${numbers}">
    <div class="number-div"
         th:if="${number.getPalindromes() != null && number.getPalindromes().size() == number.getAmount()}">
        <span th:id="'number' + ${number.getId()}" th:onmouseover="'selectMinAndMax(\'' + ${number.getId()} + '\')'"
              th:onmouseout="'hideMinAndMax(\'' + ${number.getId()} + '\')'" th:text="${number.getNumberValue()}">
        </span>

        <span class="min" th:id="'min' + ${number.getId()}"></span>
        <span class="max" th:id="'max' + ${number.getId()}"></span>

        <button th:onclick="'selectResult(\'' + ${number.getId()} + '\')'">Result</button>

        <br>
    </div>

    <div th:unless="${number.getPalindromes() != null && number.getPalindromes().size() == number.getAmount()}">
        <span th:text="${number.getNumberValue()}"></span>
        <span>Please, wait for calculation</span>
    </div>
</div>

</body>

<style>
    .min, .max {
        display: none;
    }

    .content {
        text-align: center;
    }

    .number-div {
        text-align: left;
        width: 100px;
        margin: auto;
    }
</style>

<script>
    function selectResult(id) {
        window.location.replace("/select-result?numberId=" + id);
    }

    function selectMinAndMax(id) {
        selectMin(id);
        selectMax(id);

        document.getElementById("min" + id).style.display = 'block';
        document.getElementById("max" + id).style.display = 'block';
    }

    function hideMinAndMax(id) {
        document.getElementById('min' + id).style.display = 'none';
        document.getElementById('max' + id).style.display = 'none';
    }

    function selectMin(id) {
        $.ajax({
            url: "/select-min",
            type: "GET",
            data: {
                numberId: id
            },
            success: function (data) {
                document.getElementById("min" + id).innerText = "Min: " + data;
            }
        });
    }

    function selectMax(id) {
        $.ajax({
            url: "/select-max",
            type: "GET",
            data: {
                numberId: id
            },
            success: function (data) {
                document.getElementById("max" + id).innerText = "Max: " + data;
            }
        });
    }
</script>
</html>