<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number enter</title>
</head>
<body>

<div class="content">
    <form id="palindrome-form">
        <table>
            <tr>
                <td><label for="number">Number: </label></td>
                <td><input id="number" type="number"/></td>
            </tr>
            <tr>
                <td><label for="number-of-palindromes">Number of palindromes: </label></td>
                <td><input id="number-of-palindromes" type="number"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Find</button>
                </td>
            </tr>
        </table>
    </form>

    <br>

    <button onclick="getHistory()">History</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

<style>
    .content, #palindrome-form {
        text-align: center;
    }

    .content {
        position: center;
    }

    table {
        width: 300px;
        margin: auto;
    }
</style>

<script>
    $("#palindrome-form").on("submit", function () {
        $.ajax({
            url: "/calculate",
            type: "POST",
            data: {
                number: document.getElementById("number").value,
                amount: document.getElementById("number-of-palindromes").value
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    });

    function getHistory() {
        window.location.href = "/history";
    }
</script>

</html>